${head}

<body>
    ${sidebar}

    <div class="content">
        <div class="posts">
            <section class="posts">
                <h1 class="section-title">Pinned Message</h1>

                <p class="post-meta">October 23rd, 2022</p>
                <div class="post-description">
                    <p>
                        Hey there! Welcome to my website!
                    </p>
                    <p>
                        This is a place where I intend to publish some random notes and (less frequently) some actual blog posts; the difference is explained in <a href="@{base_url}/notes/notes.html">this note</a>.
                    </p>
                    <p>
                        Read anything at your own risk!
                    </p>
                </div>
            </section>

            <section class="posts">
                <h1 class="section-title">Recent Posts</h1>

                #{list:posts:3}

                <h2 class="post-title">
                    <a href="#{post-url}">#{post-title}</a>
                </h2>
                <p class="post-meta">
                    #{post-date}
                </p>
                <div class="post-description">
                    #{post-preview}
                </div>
                <div class="read-more">
                    <a href="#{post-url}">🔗 Read the post!</a>
                </div>

                #{list:end}
            </section>

            <section class="posts">
                <h1 class="section-title">Recent Notes</h1>

                #{list:notes:3}

                <h2 class="post-title">
                    <a href="#{post-url}">#{post-title}</a>
                </h2>
                <p class="post-meta">
                    #{post-date}
                </p>
                <div class="post-description">
                    #{post-preview}
                </div>
                <div class="read-more">
                    <a href="#{post-url}">🔗 Read the node!</a>
                </div>

                #{list:end}
            </section>
        </div>
    </div>

</body>