${head}

<body>
    ${sidebar}

    <main class="content">
        <div class="posts">
            <section class="posts">
                <h1 class="section-title">📌 Pinned Message</h1>

                <p class="post-meta">August 13<sup>th</sup>, 2023</p>
                <div class="post-description">
                    <p>
                        Hey there! Welcome to my website!
                    </p>
                    <p>
                        I created it on October 23<sup>rd</sup>, 2022 and basically haven't really posted anything since. Today I decided to give it a fair try to write stuff and put it here, but more likely than not you won't see much.
                    </p>
                    <p>
                        Also, how did you even find this? I've never told anyone about it. <b>Read anything at your own risk!</b>
                    </p>
                </div>
            </section>

            <section class="posts">
                <h1 class="section-title">📌 Recent Posts</h1>

                #{list:all:10}

                <h2 class="post-title">
                    <a href="#{post-url}">#{post-title}</a>
                </h2>
                <p class="post-meta">
                    #{post-date} <span class="post-group">【#{post-group}】</span>
                </p>
                <div class="post-description">
                    #{post-preview}
                </div>
                <div class="read-more">
                    <a href="#{post-url}">🔗 Read the #{post-group}!</a>
                </div>

                #{list:end}
            </section>
        </div>
    </main>

</body>