<div class="sidebar">
    <div class="header">
        <h1 class="blog-title"><a href="@{base_url}/index.html">victhor.io</a></h1>
        <h2 class="blog-tagline">A <em>personal webiste</em> containing posts about pretty much <em>anything</em>.</h2>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="button" href="@{base_url}/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="button" href="@{base_url}/whoisvicthor.html">Who am I?</a>
                </li>
                <li class="nav-item">
                    <a class="button" href="@{base_url}/notes.html">All notes</a>
                </li>
                <li class="nav-item">
                    <a class="button" href="@{base_url}/essays.html">All essays</a>
                </li>
                <li class="nav-item">
                    <a class="button" href="@{base_url}/social.html">Social</a>
                </li>
            </ul>
        </nav>
    </div>
</div>