<div class="sidebar">
    <div class="header">
        <h1 class="blog-title"><a href="@{base_url}/index.html">victhor.io</a></h1>
        <h2 class="blog-tagline">My random blog<br>Don't judge 😬</h2>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="button" href="@{base_url}/whoisvicthor.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="button" href="@{base_url}/notes.html">Notes</a>
                </li>
                <li class="nav-item">
                    <a class="button" href="@{base_url}/posts.html">Posts</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="button" href="@{base_url}/social.html">Social</a>
                </li> -->
            </ul>
        </nav>
    </div>
</div>