${head}

<body>
    ${sidebar}

    <main class="content">
        <div class="posts">
            <section class="posts">
                <h1 class="section-title">📌 All toys</h1>

                <ul>
                    <li>
                        <span class="post-meta-list"> August 27<sup>th</sup>, 2023</span> - <span class="post-title-list"><a href="@{base_url}/betacomparisontoy.html">Beta Comparison Toy</a></span>
                        <br>
                        <div class="post-line-list">
                            <p>
                                Compare two different beta distributions in the context of online A/B tests. Includes probability of Alternative beating Baseline and a visualization of them.
                            </p>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </main>

</body>